leetcode/a.out
practice/pthread/a.out
practice/c++/a.out
STL/a.out
udemy/recursion/generic/a.out
udemy/trees/binaryTree/a.out
udemy/trees/binarySearchTree/a.out
udemy/trees/AVL/a.out
/udemy/graph/a.out
